# Project exclude paths
*.class
*.log

# Package Files
*.jar
*.war
*.ear

# Intellij
.idea/
target/
out/
*.iml
*.iws

# Eclipse
.classpath/
.project/
.settings/

# Maven
Log4j/
test-output/

# Mac
.DS_Store